@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --primary-color: #f80878;
    --background-color: #f5f5f5;
    --text-color: #363636;
    --light-text-color: #787878;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: 14px;
}

body {
    background-color: var(--background-color);
    padding: 5%;
}

h2 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
    display: flex;
    text-align: end;
    justify-content: end;
    align-items: center;
}

h6 {
    font-size: 12px;
    color: var(--light-text-color);
    display: flex;
    text-align: end;
    justify-content: end;
    align-items: center;
}

ul {
    list-style-position: inside;
}
ul > li:not(:last-child) {
    margin-bottom: 4px;
}

.section {
    display: table-row;
}

.sec-left {
    display: table-cell;
    position: relative;
    width: 25%;
    padding: 16px 24px 0 0;
}

.sec-left:not(.no-line)::after {
    content: "";
    height: 100%;
    width: 4px;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    right: -2px;
}

.sec-left.indent-top-36px::after {
    height: calc(100% - 36px);
    top: 36px;
}

.sec-left > .diamond {
    position: relative;
    height: 24px;
    z-index: 2;
}

.sec-left > .diamond::after {
    content: url(images/diamond.svg);
    position: absolute;
    top: 0;
    right: -36px;
}

.sec-left > .circular {
    position: relative;
    height: 16px;
    z-index: 2;
}

.sec-left > .circular::after {
    content: url(images/circular.svg);
    position: absolute;
    top: 0;
    right: -32px;
}

.sec-right {
    display: table-cell;
    padding: 16px 0 0 24px;
}

.sub-sec > ul {
    margin-left: 24px;
}

.title {
    color: var(--primary-color);
    font-weight: bold;
}

.subtitle {
    color: var(--light-text-color);
}

li.icon {
    list-style-type: none;
}

li.icon::before {
    display: inline-block;
    width: 14px;
    margin: 2px 14px 0 0;
    vertical-align: middle;
}

li.icon.phone::before {
    content: url(images/phone-solid.svg);
}

li.icon.envelope::before {
    content: url(images/envelope-solid.svg);
}

li.icon.location::before {
    content: url(images/location-dot-solid.svg);
}

li.icon.linkedin::before {
    content: url(images/linkedin.svg);
}

li.icon.github::before {
    content: url(images/github.svg);
}
